<div class="banner">

  <img src="../images/gold-clipper-scissors.png" alt="Logo" style="width:25%;">

  <div class="header">
    <h1>MAGGIE'S CUTS</h1>
    <h2>A FINE MEN'S SALON</h2>
  </div>

  <img src="../images/maggie.jpg" alt="Maggie" style="width: 25%;">

</div>
