<div class="nav-bar">
  <a href="index">HOME</a>
  <a href="services"> SERVICE LIST</a>
  <a href="appointment">APPOINTMENTS</a>
  <a href="contact">CONTACT ME</a>
  <a href="about">ABOUT ME</a>
  <a href="befaft">CLIENT BEFORE/AFTER</a>
  <a href="testimonials">TESTIMONIALS</a>
  <a href="gallery">GALLERY</a>
</div>
