<!DOCTYPE html>

<html lang="en">

  <head>
  	<title>About</title>
    <%- include('./partials/header.ejs') %>
  </head>

  <body>

    <!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

    <div class="aboutme">
    	<h1><b>About Me</b></h1>
    	<img src="images/maggie.jpg" width="25%" alt="MaggiePhoto">

      <br/>
      <br/>

    	<a href="https://hanover.wickedlocal.com/news/20200113/maggies-cuts-opens-at-78-main-st-kingston-walk-ins-welcome">Article from the Kingston Reporter</a>
    </div>

    <div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
