<!DOCTYPE html>

<html lang="en">

<head>
	<title>Client Photos</title>
    <%- include('./partials/header.ejs') %>
  </head>

	<body>

		<!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

		<div class="client">
			<h1><b>Client Photos</b></h1>
			<img src="images/1.jpg" width="18%"   alt="Photo1">
			<img src="images/2.jpg" width="18%"   alt="Photo2">
			<img src="images/3.jpg" width="18%"   alt="Photo3">
			<img src="images/4.jpg" width="18%"   alt="Photo4">
			<img src="images/6.jpg" width="18%"   alt="Photo6">
		</div>
		
		<div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
	</body>
</html>
