<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Contact</title>
		<%- include('./partials/header.ejs') %>
  </head>

	<body>

		<!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

		<div class="container">

			<div class="contact">
			  <h1><b>Salon Location</b></h1>
				78 Main Street<br/>
				Kingston, MA  02364<br/>
			    <a href="tel:7819368534" style="color: blue">(781) 936-8534</a><br/>
				<a href='https://www.google.com/maps/dir//78+Main+St+Kingston+MA+02364' title='Directions' style="color: blue"> Directions</a><br/>
					<div class="icons">
					    <a href="https://www.facebook.com/MaggiesMensCuts/" style="left: 1120px; top: 1000%"><i class="fab fa-facebook-square fa-2x fa-fw target="_blank"></i></a>
					   	<a href="mailto:magnificent0408@gmail.com" target="_top" style="left: 1140px; top: 1000%"><i class="fas fa-envelope fa-2x fa-fw" target="_blank"></i> </a>
						<a href="https://www.instagram.com/explore/locations/101701604555897/maggies-mens-cuts/" style="left: 1160px; top: 1000%" target="_blank"><i class="fab fa-instagram fa-2x fa-fw"></i> </a>
				</div>
			</div>
		</div>

		<div class="footer">
			<%- include('./partials/footer.ejs') %>
		</div>
	</body>
</html>
