<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Gallery</title>
		<%- include('./partials/header.ejs') %>
  </head>

	<body>

		<!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

		<div class="gallery">
			<h1><b>Meet my favorite supporters</b></h1>

			<div class="polaroidleft">
				<img src="images/A.jpg" alt="PhotoA" style="width:100%">
				<div class="container">
					<p><b>Lorem ipsum dolor</b></p>
				</div>
			</div>

			<div class="polaroidright">
				<img src="images/B.jpg" alt="PhotoB" style="width:100%">
				<div class="container">
					<p><b>sit amet</b></p>
				</div>
			</div>

			<div class="polaroidleft">
				<img src="images/C.jpg" alt="PhotoC" style="width:100%">
				<div class="container">
					<p><b>consectetur adipisicing</b></p>
				</div>
			</div>

			<div class="polaroidright">
				<img src="images/D.jpg" alt="PhotoD" style="width:100%">
				<div class="container">
					<p><b>elit sed do</b></p>
				</div>
			</div>

			<div class="polaroidleft">
				<img src="images/E.jpg" alt="PhotoE" style="width:100%">
				<div class="container">
					<p><b>eiusmod tempor</b></p>
				</div>
			</div>

			<div class="polaroidright">
				<img src="images/F.jpg" alt="PhotoF" style="width:100%">
				<div class="container">
					<p><b>incididunt ut</b></p>
				</div>
			</div>

			<div class="polaroidleft">
				<img src="images/G.jpg" alt="PhotoG" style="width:100%">
				<div class="container">
					<p><b>labore et dolore</b></p>
				</div>
			</div>

			<div class="polaroidright">
				<img src="images/H.jpg" alt="PhotoH" style="width:100%">
				<div class="container">
					<p><b>magna aliqua</b></p>
				</div>
			</div>

			<div class="polaroidleft">
				<img src="images/I.jpg" alt="PhotoI" style="width:100%">
				<div class="container">
					<p><b>Ut enim ad</b></p>
				</div>
			</div>
		</div>

		<div class="footer">
			<%- include('./partials/footer.ejs') %>
		</div>

	</body>
</html>
