<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Maggie's Cuts</title>

    <link rel="shortcut icon" href="./images/namelogo.jpg" type="image/x-icon" />

    <%- include('./partials/header.ejs') %>

    <script type="text/babel" src="server.js" charset="utf-8"></script>

  </head>

  <body>

    <!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

    <div class="header">
      <%- include('./partials/banner.ejs') %>
    </div>

    <div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
