<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Services</title>
		<%- include('./partials/header.ejs') %>
	</head>

	<body>

		<!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

		<div class="services">
			<h1><b>Salon Services</b></h1>
			<ul>
				<li>Hair Cuts $18</li>
				<li>Children’s Cuts $15</li>
				<li>* Active U.S. Military, Veterans $15</li>
				<li>* Police, Fire Fighters, First Responders, Nurses $15</li>
				<li>* Seniors 65+ $15</li>
				<li>Beard Shaping & Trim $15</li>
				<li>Bang Trim $7</li>
				<li>Neck Trim/Line Up $5</li>
				<li>Beard Edging $5</li>
				<li>Shampoo $5</li>
				<li>Scalp Treatment $10</li>
			</ul>
			<h2>* ID required, Thank You!</h2>
		</div>

		<div class="footer">
			<%- include('./partials/footer.ejs') %>
		</div>

	</body>
</html>
