<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Testimonials</title>
    <%- include('./partials/header.ejs') %>
	</head>

  <body>

    <!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

    <div class="testimonials">
    	<h1>Testimonials</h1>
      	<p><b>October 21, 2019</b>: Fantastic hair cut from the supremely talented Maggie.</p>
        <p><b>November 2, 2019</b>: Maggie is the best!  she is very professional and does excellent quality work.  Her new shop is top of the line,  its bright, clean and very modern!</p>
        <p><b>December 7, 2019</b>: Maggie did an amazing job trimming my boyfriend's beard and giving him a well blended haircut that hid his crazy cowlick. I highly recommend her!</p>
    </div>
    
    <div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
